/* About */
.about-text {
    padding: 10px;
}


.about img {
    max-width: 100%;
}

.calender {
    display: flex;
    background-color: #bf925b;
    color: white;
    font-family: "Barlow Semi Condensed", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    max-width: 350px;
    line-height: 1em;
    height: 120px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.icon-calendar {
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 20px;
    display: flex;
    justify-content: space-evenly;
}

.calendar-bg {
    display: flex;
    background-color: black;
    width: 70px;
    height: 70px;
    border-radius: 100%;
}

.calendar-bg i {
    margin: auto;
    font-size: 2em;
}

.years {
    display: block;
    font-size: 3rem;
    padding-top: 20px;
    padding-bottom: 20px;
}

.calender img {
    padding: 20px;
}