* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Poppins', sans-serif;
}

p {
    line-height: 1.5em;
}

h1 {
    text-transform: uppercase;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 700;
    color: white;
}

h4 {
    text-transform: uppercase;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 1.5em;
    padding: 1em;
}

h5 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-transform: uppercase;
    color: #BF925B;
    font-size: 22px;
    padding-top: 20px;
}

h6 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 800;
    padding: 10px 0;
}

/* Menu */
nav {
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.3);
    padding: 0;
    padding-right: 20px;
    height: 50px;
    z-index: 999;
    margin: 0 auto;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

nav ul {
    list-style-type: none;
    justify-content: space-between;
    text-transform: uppercase;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 700;
}

nav a {
    text-decoration: none;
    color: #e6e6e6;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

.menu li a {
    display: block;
    padding: 15px 5px;
}


.logotyp {
    margin-top: 10px;
    margin-left: 20px;
}

/* Header */
.headertext {
    position: absolute;
    top: 200px;
    left: 20px;
    color: white;
    width: 400px;
}

.outline {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.headertext h2 {
    text-transform: uppercase;
    color: #BF925B;
    font-size: 16px;
    letter-spacing: 0.1em;
}

.headertext h3 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: 700;
}

.headertext button {
    border-color: #BF925B;
    padding: 1em;
    margin-top: 30px;
    background-color: transparent;
    color: #BF925B;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: bold;
}

header {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('images/headerimg-1350x600px.png') no-repeat center;
    height: 600px;
}

/* Services */
.services {
    display: flex;
    flex-wrap: wrap;
}

.style1 {
    flex: 25%;
    background-color: #BF925B;
    color: white;
    text-align: center;
    padding: 3em;
    padding-bottom: 100px;
}

.style2 {
    flex: 25%;
    background-color: #b78649;
    color: white;
    text-align: center;
    padding: 3em;
    padding-bottom: 100px;
}

.style1 img {
    margin-top: -120px;
}

.style2 img {
    margin-top: -120px;
}


/* About */
.about-text {
    padding-left: 10px;
}

.calender {
    display: flex;
    background-color: #BF925B;
    color: white;
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    max-width: 350px;
    line-height: 1em;
    height: 120px;
    margin-top: 40px;
}

.years {
    display: block;
    font-size: 3rem;
    padding-top: 20px;
    padding-bottom: 20px;
}

.calender img {
    padding: 20px;
}



/* Reviews */
.reviews {
    background-color: #eae8de;
    text-align: center;
    height: 600px;
    padding-top: 40px;
}

.card-wrapper {
    display: flex;
    position: relative;
    left: 30px;

}

.card {
    display: block;
    background-color: white;
    color: #7a7b7a;
    width: 400px;
    height: 280px;
    text-align: left;
    padding-left: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.card2 {
    background-color: white;
    color: #7a7b7a;
    width: 400px;
    height: 280px;
    text-align: left;
    padding-left: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.card3 {
    background-color: white;
    color: #7a7b7a;
    width: 400px;
    height: 280px;
    text-align: left;
    padding-left: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 40px;
}


.card img {
    width: 50px;
    height: 50px;
    margin-top: -20px;
}

.card2 img {
    width: 50px;
    height: 50px;
    margin-top: -20px;
}

.card3 img {
    width: 50px;
    height: 50px;
    margin-top: -20px;
}

.checked {
    color: #BF925B;
}

.profile {
    display: flex;
    padding-top: 40px;
}

.profile-text {
    padding: 0;
}

.profile img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.profile h6 {
    font-size: 18px;
    text-transform: capitalize;
    color: black;
    margin-top: 5px;
    line-height: 0;

}

.profile h5 {
    font-size: 14px;
    line-height: 0;
}

/* Footer */

footer {
    background-color: black;
    color: white;
    padding: 20px;
    padding-bottom: 60px;
}

footer img {
    height: 50px;
    padding-right: 50px;
    margin-top: 20px;
}

footer li {
    list-style-type: none;
}

footer h5 {
    color: white;
    line-height: 2.5em;
}

.info {
    padding-right: 40px;
}

.contact-img img {
    width: 70px;
    height: auto;
}




/* Desktop view */
@media (min-width: 600px) {
    .about {
        display: flex;
    }

    .about-text {
        max-width: 500px;
        padding-left: 60px;
        padding-top: 60px;
    }

    footer {
        display: flex;
        justify-content: space-between;
    }

    .services {
        display: flex;

    }

    #menu-button {
        display: none;
    }

    .headertext {}
}

@media (min-width: 800px) {
    .about {
        position: relative;
        left: 20%;
        display: flex;
    }

    /* Menu mobile */
    @media (max-width: 600px) {
        button+.menu {
            display: none;
            opacity: 0;
            visibility: hidden;
        }

        button.menu-open+.menu {
            display: block;
            opacity: 1;
            visibility: visible;
            padding-top: 0;
        }

        button.menu-open {
            display: flex;
        }

        #menu-button {
            text-transform: uppercase;
            font-family: 'Poppins', sans-serif;
            background-color: transparent;
            color: #e6e6e6;
            border-color: transparent;
            padding: 1em;
        }


    }

    @media only screen and (max-width: 600px) {
        .card2 {
            display: none;
        }

        .card3 {
            display: none;
        }

        .dot {
            height: 10px;
            width: 10px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            margin: 5px;
        }

        .barber {
            display: none;
        }

    }