/* Nav-Header */
@import "css/nav-header.css";

/* Services */
@import "css/services.css";

/* About */
@import "css/about.css";

/* Reviews */
@import "css/reviews.css";

/* Footer */
@import "css/footer.css";


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-family: "Poppins", sans-serif;
}

p {
    line-height: 1.5em;
}

h1 {
    text-transform: uppercase;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 700;
    color: white;
}

h4 {
    text-transform: uppercase;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 1.5em;
    padding: 1em;
}

h5 {
    font-family: "Barlow Semi Condensed", sans-serif;
    text-transform: uppercase;
    color: #bf925b;
    font-size: 22px;
    padding-top: 20px;
}

h6 {
    font-family: "Barlow Semi Condensed", sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 800;
    padding: 10px 0;
}

/* Media quaries below */

/* Desktop view */
@media (min-width: 600px) {
    .headertext {
        left: 50%;
    }

    .headertext p {
        padding-left: 50px;
    }

    .headertext-button {
        border-left: #bf925b 2px solid;
    }

    .headertext button {
        margin-left: 55px;
    }

    .about {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .about-text {
        max-width: 500px;
        padding-left: 60px;
        padding-top: 60px;
    }

    footer {
        display: flex;
        justify-content: space-between;
    }

    .services {
        display: flex;
    }

    #menu-button {
        display: none;
    }
}

@media (min-width: 800px) {
    .about {
        /* position: relative;
        left: 20%;
        display: flex; */
    }
}

@media (min-width: 1000px) {
    nav {
        padding-left: 200px;
        padding-right: 200px;
    }
}

/* Menu mobile */
@media (max-width: 600px) {
    button+.menu {
        display: none;
        opacity: 0;
        visibility: hidden;
    }

    button.menu-open+.menu {
        display: block;
        opacity: 1;
        visibility: visible;
        padding-top: 0;
    }

    #menu-button {
        text-transform: uppercase;
        font-family: "Poppins", sans-serif;
        background-color: transparent;
        border-color: transparent;
        color: #e6e6e6;
        padding-top: 1em;
    }

    .menu-bar {
        text-align: right;
    }

    .menu {
        background: rgba(0, 0, 0, 0.3);
        margin-top: 13px;
    }
}

/* Review cards */
@media only screen and (max-width: 600px) {
    .card2 {
        display: none;
    }

    .card3 {
        display: none;
    }

    .card {
        margin-left: 20px;
        margin-right: 20px;
    }

    .dot {
        height: 10px;
        width: 10px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        margin: 5px;
    }

    /* Adress */
    .barber {
        display: none;
    }
}